body{
  max-width: 100%;
  overflow-x: hidden;
}

header{
  background-image: url("../images/background.png");
  width: 100%;
  height: 100%;
 
}


.logo-img{
  padding-top: 30px;
  margin-left: 20px;
}
.card {
    width: 382px;
    height: 550px;
    margin-top: 57px;
    margin-bottom: 32px;
    border-radius: 10px;
    float: right;
    margin-right: 50px;
}

.vedio{
  
  margin: 15px 20px;
  width: 400px;
  background-color: black;
}

.carrier-focus-txt{
  padding-top: 43px;
  padding-left: 50px;
  font-size: 16px;
  font-weight: 100;
  color: white;
  font-family: 'Poppins';
}

.engineer-title{
  font-size: 32px;
  font-family: 'Poppins';
  color: white;
  padding-left: 46px;
  margin-top: -12px;
}

.engineer-details{
  width: 488px;
  height: auto;
  padding-left: 46px;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 100;
  color: white;
  padding-top: 10px;
  line-height: 1.8;
  padding-bottom: 25px;
}

 .custom-button{
  margin-left: 38px;
  background-color: #ffd500;
  color: black;
  border-radius: 15px;
  padding: 8px;
  font-size: 18px;
  font-weight: 600;
  padding-left: 14px;
  padding-right: 14px;
  border: none;
}






.learn-more-txt{
  padding-left: 10px;
  font-size: 15px;
  font-family: 'Poppins';
  color: white;
}

.people-210{
    margin-left: 53px;
    padding-top: 6px;
    font-size: 12px;
    font-family: 'Poppins';
    color: white;
}

.earn-certificate-txt{
    text-align: center;
    font-family: 'Poppins';
    color: #5b3be9;
    font-size: 18px;
}

.hour-txt{
  text-align: center;
  font-family: 'Poppins';
  color: #000000;
  font-size: 14px;
  line-height: 0.2;
}

.local-text {
  text-align: center;
  font-size: 14px;
  font-family: 'Poppins';
  margin: 0px;
  color: #000000;
  
}

.number-txt{
  text-align: center;
  font-size: 14px;
  font-family: 'Poppins';
  font-weight: 600;
  margin: 0px;
  color: #000000;
}

.custom-icon-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.instructor-title{
  margin-left: 20px;
  font-size: 16px;
  font-family: 'Poppins';
  color: black;
}

.profile-picture{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-name-txt{
    font-size: 14px;
    font-family: 'Poppins';
    color: #5b3be9;
    text-align: center;
    margin-bottom: 6px;
}

.designation{
    font-size: 12px;
    font-family: 'Poppins';
    color: #000000;
    text-align: center;
    line-height: 0;
}

.profile-details{
  margin-left: 103px;
}

.padding-top-100{
  padding-top: 100px;
  padding-bottom: 50px;
}

.course-title{
  text-align: center;
  padding-bottom: 50px;
  font-size: 36px;
  font-family: 'Poppins';
  color: #000000;
  font-weight: 100;
}

.custom-item-area{
  padding-left: 100px;
  padding-right: 100px;
}

.custom-item-border{
    border-top: 1px solid #e6e0e0;
    border-right: 1px solid #e6e0e0;
    border-left: 5px solid #5788fa;
    border-bottom: 1px solid #e6e0e0;
    padding: 10px;
}

.item-number-txt{
  margin-bottom: 0px;
  padding-left: 10px;
  padding-top: 5px;
}

h3 {
  font-family: 'Poppins';
}

.custom-single-txt{
  font-size: 12px;
  font-family: 'Poppins';
}

.text-lesson{
    margin: 0 auto;
    padding: 22px;
    font-size: 12px;
    font-family: 'Poppins';
    color: #5b3be9;
}

.custom-padding-top{
  padding-top: 28px;
}


.main-content-area{

  background-image: url("../images/background-2.png");
  height: 403px;
  width: 100%;
  
}

.custom-box{
  border: 1px solid #e6e0e0;
  background-color: white;
  text-align: center;
  line-height: 0.5;
  padding-top: 32px;
  height: 97px;
  width: 170px;
  font-family: 'Poppins';
  color: #5b3be9;
}

.custom-box-two{
    margin-left: 22px;
    border: 1px solid #e6e0e0;
    background-color: white;
    text-align: center;
    line-height: 0.5;
    padding-top: 32px;
    height: 97px;
    width: 170px;
    font-family: 'Poppins';
    color: #5b3be9;
}

/* .profile{
  float: right;
} */

.profile-img-bg{
  height: 550px;
  width: auto;
  position: relative;
  top: 0;
  left: 0;
}

.profile-img{
  height: 450px;
  width: auto;
  position: absolute;
  top: 36px;
  left: 81px;
  z-index: 1;
}

.custom-profile-title{
  margin-top: 50px;
  font-size: 50px;
  font-family: 'Poppins';
  color: black;
}

.custom-profile-body{
    height: auto;
    font-family: 'Poppins';
    color: black;
    font-size: 18px;
    font-style: none;
    font-weight: 100;
    text-align: right;
    width: 500px;
    height: auto;
    line-height: 1.5;
}

footer{
  background-image: url("../images/footer-bg.png");
  height: 300px;
  width: 100%;
}

.enroll-button{
  margin: 30px auto;
  display: block;
  border-radius: 15px;
  background-color: #ffd500;
  color: black;
  font-size: 18px;
  font-weight: 600;
  height: 42px;
  border: none;
  padding-left: 14px;
  padding-right: 14px;
}

.bottom-txt{
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  font-size: 32px;
  font-family: 'Poppins';
  margin-top: 50px;
  font-weight: 100;
}

.courasel-area{
  margin-top: -11px;
  margin-left: 93px;
}

.custom-card-area{
  padding-left: 12%;

}

.custom-build-app {display: contents;}

